/***************************
Navbar
***************************/
.nav-link {
    color: white;
}

.nav-link:hover {
    color: #FEC85C;
}

/***************************
Main Container
***************************/
h1 {
    color: white;
    font-size: 2em;
}

.hero {
    /* Flexbox stuff */
    display: flex;
    justify-content: center;
    align-items: center;

    /* Sizing */
    width: 100vw;
    height: 100vh;

    /* Text-styles */
    text-align: center;

    /* Background styles */
    background: linear-gradient( rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4) ), url("../images/burger.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
}

.btn {
    background-color: rgb(242,39,3);
}

/***************************
Media Queries
***************************/
/* Xtra Small Devices */
@media (max-width: 346px) {
    .navbar .container-fluid {
        justify-content: center;
    }
 }


/* Medium Devices */
@media (min-width: 577px) and (max-width: 1024px) {
    h1{ 
        font-size: 3em;
    }
    .btn {
        font-size: 1.5em;
    }
    .nav-link {
        font-size: 1.5em;
    }
    nav img {
        width: 250px;
        margin: 5px;
    }
 }

 /* Large Devices */
 @media (min-width: 992px) { 
    nav img {
        width: 200px;
    }
 }