/***************************
Navbar
***************************/
.nav-link {
    color: white;
}

.nav-link:hover {
    color: #FEC85C;
}

/***************************
Main Container
***************************/
.hero {
    /* Flexbox stuff */
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    /* Sizing */
    width: 100vw;
    height: 100vh;
}

.hero::before {
/* Allows for adding opacity without affecting form */
/* Background styles */
    content: "";
    position: absolute;
    background-image: url("../images/grill.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: .9;
}

.card-header h5 {
    line-height: 1.5em;
}

.btn {
    background-color: rgb(242,39,3);
    color: white;
}


/***************************
Media Queries
***************************/
/* Xtra Small Devices */
@media (max-width: 346px) {
    .navbar .container-fluid {
        justify-content: center;
    }
 }

/* Medium Devices */
@media (min-width: 577px) and (max-width: 1024px) {
    h1{ 
        font-size: 3em;
    }
    .btn {
        font-size: 1.5em;
    }
    .nav-link {
        font-size: 1.5em;
    }
    nav img {
        width: 250px;
        margin: 5px;
    }
 }

 /* Large Devices */
 @media (min-width: 992px) { 
    nav img {
        width: 200px;
    }
 }