.nav-link {
    color: white;
}



.hero {
    /* Flexbox stuff */
    display: flex;
    justify-content: center;
    align-items: center;

    /* Sizing */
    width: 100vw;
    height: 100vh;

    /* Background styles */
    background-image: url("../images/patio.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
}

.row {
    width: 100vw;
}

.card {
    display: flex;
    margin: 15px;
    max-height: 75vh;
}

.card-body {
    padding-top: 0;
    font-family: Arial, Helvetica, sans-serif;
    /* background-color: rgb(52,58,64); */
}

.card-body h4 {
    font-size: 1.3em;
    font-weight: bold;
}

.card-body h5 {
    font-size: 1em;
}
